div{
    height: 200px;
    width: 500px;
    /*background-color: lightblue;
    border-width: 5px;
    border-style: solid;*/
    border: 5px solid lightblue;
    border-left-color: aqua;
    border-right-color: blue;
    border-radius: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;

}

h1{
   /* border-width: 5px;
    border-style: dashed;
    border-color: red; */
    border: 5px dashed red;
}

button{
    border: 2px solid black;
    border-radius : 10px;
    padding-left : 5px;
    padding-right : 25px;
    background-color : yellow;

}