

#outer{
height: 400px;
width: 400px;
border: 2px solid black;
background-color: aqua;
font-size: 20px;
}

#inner{
height:100px;
width: 100px;
background-color: aquamarine;
font-size: 0.5em;
padding: 1em;
}